
    
    
    
@media (min-width: 1200px)
    .container
        max-width: 1140px
    .menu
        &__link
            font-size: 16px
            line-height: 1
            font-weight: 500
    .logo
        &__link
            font-size: 16px
            line-height: 1
            font-weight: 500
@media (min-width: 1400px)
    .container
        max-width: 1320px
    .menu
        &__item
            &:not(:last-child)
                margin-right: 30px
        &__link
            font-size: 16px
            line-height: 1
            font-weight: 500
        
    .logo
        margin-right: 180px
        &__link
            font-size: 24px
            line-height: 1
            font-weight: 900
    
    .basket
        margin-left: 224px

